<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Apache Wicket Examples</title>
</head>
<body data-spy="scroll" data-target=".subnav">
	<div wicket:id="topnavbar">
	</div>
	<div class="container">
		<header class="jumbotron subhead">
			<h1>Component Reference</h1>
			<p class="lead">A comprehensive list of Apache Wicket's components.</p>
			<div class="subnav">
				<ul class="nav nav-pills">
					<li><a href="#labels">Labels</a></li>
					<li><a href="#links">Links</a></li>
					<li><a href="#lists">Lists</a></li>
					<li><a href="#forms">Forms</a></li>
					<li><a href="#feedback">Feedback</a></li>
					<li><a href="#i18n">Internationalization</a></li>
					<li><a href="#layout">Layout &amp; Grouping</a></li>
				</ul>
			</div>
		</header>
		<section id="labels">
			<div class="page-header">
				<h1>Labels <small>Displaying text using labels, MultiLineLabels and escaping markup</small></h1>
			</div>
			<div class="row">
				<div class="span6">
					<h3>Labels</h3>
					<p>
						With <code>Label</code> components you can display dynamic
						text in your pages and components.
					</p>
					<pre class="prettyprint linenums" lang="java">add(new Label&lt;String&gt;("text", "Hello, World!"));</pre>
					<p>
						Like all Wicket components, the label needs a counterpart in the markup with the same <code>wicket:id</code>:
					</p>
					<pre class="prettyprint linenums" lang="html">&lt;span wicket:id="text"&gt;gets replaced&lt;/span&gt;</pre>
					<p>
						Using models you can display fields from your entities in your
						pages:
					</p>
					<pre class="prettyprint linenums" lang="java">Person person = ...;
add(new Label&lt;String&gt;("text",
        new PropertyModel&lt;String&gt;(person, "name")));</pre>
				</div>
				<div class="span6">
					<h3>Multi-line text</h3>
					<p>
						HTML notoriously strips newlines from your text and renders everything
						like it is just one line of text. With <code>MultiLineLabel</code> you
						can render text like it is supposed to look with paragraphs and 
						line-breaks.
					</p>
					<pre class="prettyprint linenums">add(new Label("txt", "Hello,\nWorld!"));
add(new MultiLineLabel("multi", "Hello,\nWorld!"));</pre>
					<p>
						Will render the following markup:
					</p>
					<pre class="prettyprint linenums">&lt;p&gt;Hello,
World!&lt;/p&gt;
&lt;p&gt;Hello,&lt;br /&gt;World!&lt;/p&gt;</pre>
					<p>And that will result in text like:</p>
					<pre class="prettyprint linenums">Hello, World!
Hello,
World!</pre>
					<p>
						Notice that the first label is displayed on a single line, while the 
						<code>MultiLineLabel</code> correctly renders the text across multiple
						lines. 
				</div>
				<div class="span6">
					<h2>Label tags</h2>
					<p>
						The associated markup tag can be anything: a <code>&lt;span&gt;</code>, <code>&lt;a&gt;</code>nchor, 
						<code>&lt;p&gt;</code>aragraph, or even if you don't want a surrounding tag in the final markup 
						a <code>&lt;wicket:container&gt;</code>. So for example:
					</p>
					<pre class="prettyprint linenums" lang="html">&lt;span wicket:id="t1"&gt;&lt;/span&gt;
&lt;p wicket:id="t2"&gt;&lt;/p&gt;
&lt;wicket:container wicket:id="t3"&gt;&lt;/wicket:container&gt;</pre>
					<p>Will render as:</p>
					<pre class="prettyprint linenums" lang="html">&lt;span&gt;Hello, World!&lt;/span&gt;
&lt;p&gt;Hello, World!&lt;/p&gt;
Hello, World!</pre>
					<p>
						You can also use <code>label.setRenderBodyOnly(true)</code> to instruct Wicket to
						just render the body.</p>
				</div>
				<div class="span6">
					<h2>Escaping markup</h2>
					<p>
						By default, Wicket escapes all rendered text, preventing JavaScript injection attacks:
					</p>
					<pre class="prettyprint linenums">add(new Label("bad", 
      "&lt;a onclick=\"alert('Booh')\">Click me&lt;/a>"));
					</pre>
					<p>
						Will render safely as the following markup:
					</p>
					<pre class="prettyprint linenums">&amp;lt;a onclick=\&amp;quot;alert(&amp;#x27;Booh&amp;#x27;)\&amp;quot;&amp;gt;Click me&amp;lt;/a&amp;gt;</pre>
					<p>
						Which displays in the browser as:
					</p>
					<pre class="prettyprint linenums">&lt;a onclick=\&quot;alert(&#x27;Booh&#x27;)\&quot;&gt;Click me&lt;/a&gt;</pre>
				</div>
			</div>
		</section>
		<section id="links">
			<div class="page-header">
				<h1>Links <small>Providing interaction with website</small></h1>
			</div>
            <div class="row">
                <div class="span6">
                    <h2>Links</h2>
                    <p>Link is a implementation of a hyperlink component. A link can be used with an anchor <code>a href</code> element or any element that supports the onclick javascript event handler (such as buttons, td elements, etc). So java code:</p>
                    <pre class="prettyprint linenums" lang="java">
add(new Link("myLink")
{
 public void onClick()
 {
     // do something here...
 }
);
                    </pre>
                    <p>with folowing markup:</p>
                    <pre class="prettyprint linenums" lang="html">&lt;a href=&quot;#&quot; wicket:id=&quot;myLink&quot;&gt;click here&lt;/a&gt;</pre>

                    <p>run server side code declared in <code>onClick</code> method.</p>

                </div>
                <div class="span6">
                    <h2>Action links</h2>
                    <p>Links can be use not only for navigation. Into the body of <code>onClick</code> method we can put any code that should be executed in server side after user (or script) trigger the click action.</p>
                    <pre class="prettyprint linenums" lang="java" >

private int linkClickCount = 0;

Link actionLink = new Link("actionLink")
{
    @Override
    public void onClick()
    {
        linkClickCount++;
    }
};              </pre>
                <pre class="prettyprint linenums" lang="html">
&lt;a href=&quot;#&quot; wicket:id=&quot;myLink&quot;&gt;click here&lt;/a&gt;</pre>

                    <p>In this example the atrribute <code>int linkClickCount</code> will increase after each user click on link.
                        Using the action link is the simplest way to perform any action on server on user demand.</p>
                </div>
                <div class="span6">
                    <h2>Page links</h2>
                    <p>To create navigation on page use a page links. Declaration looks the same as previously, but we need to change <code>onClick</code>method body.</p>
<pre class="prettyprint linenums" lang="java">
add(new Link&lt;Void&gt;(&quot;pageLinkExample&quot;)
    {
        @Override
        public void onClick()
        {
            setResponsePage(new OtherPage());
        }
    });</pre>
                    <pre class="prettyprint linenums" lang="html">
    &lt;a href=&quot;#&quot; wicket:id=&quot;pageLinkExample&quot;&gt;Go to other page&lt;/a&gt;</pre>
                <p> After clicking <code>Go to other page</code> link, wicket will move you to declared in java code page.</p>

                </div>
                <div class="span6">
                    <h2>Bookmarks</h2>
                    <p>Default <code>href</code> section generated by wicket are not seo friendly and it's not very good idea to use it for content that should be indexed. Example of generated link:</p>
                    <pre class="prettyprint linenums" lang="html">
&lt;a href=&quot;Listener-linkToAnchor#id4&quot;&gt;Do something&lt;/a&gt;</pre>
                    <p>To render a stable link which can be cached in a web browser and used at a later time, we should use a <code>BookmarkablePageLink</code>.</p>
                    <pre class="prettyprint linenums" lang="java">
new BookmarkablePageLink&lt;Void&gt;(&quot;page1Link&quot;, Page1.class)</pre>
                    <p>with html:</p>
                    <pre class="prettyprint linenums" lang="html">
&lt;a href=&quot;#&quot; wicket:id=&quot;pageLink&quot;&gt;Click this BookmarkablePageLink to go to Page1&lt;/a&gt;
                    </pre>
                    <p>Will generate this markup:</p>
                    <pre class="prettyprint linenums" lang="html">
&lt;a href=&quot;./wicket/bookmarkable/org.apache.wicket.Page1&quot;&gt;
    Click this BookmarkablePageLink to go to Page1
&lt;/a&gt;</pre>
                </div>
                <div class="span6">
                    <h2>External links</h2>
                    <p>To create a simple anchor link <code>&lt;a href=&quot;http://url&quot;&gt;</code> pointing to any URL use <code>External links</code>. Usually this is used for links to destinations outside of Wicket.</p>
                    <pre class="prettyprint linenums" lang="java">
new ExternalLink(&quot;google&quot;,
                 &quot;http://www.google.com&quot;,
                 &quot;Click this link to go to Google&quot;)); </pre>
                    <p>Will produce following HTML markup</p>
                    <pre class="prettyprint linenums" lang="html">
&lt;a href=&quot;http://www.google.com&quot;&gt;Click this link to go to Google&lt;/a&gt;</pre>
                </div>
            </div>
		</section>
		<section id="lists">
			<div class="page-header">
				<h1>Lists <small>Repeating content with Repeaters, ListViews and DataViews</small></h1>
			</div>
            <div class="row">
                <div class="span6">
                    <h2>Repeaters</h2>
                    <p>Repeaters are components that can render their body markup multiple times. These components are useful for creating output that is traditionally created via loops.</p>
                <pre class="prettyprint linenums" lang="java">
List&lt;IModel&lt;Contact&gt;&gt; contacts = Datasource.getListOfContacts();
RefreshingView&lt;Contact&gt; view = new RefreshingView&lt;Contact&gt;(&quot;view&quot;)
{
    private static final long serialVersionUID = 1L;

    /**
     * Return an iterator over models for items in the view
     */
    @Override
    protected Iterator&lt;IModel&lt;Contact&gt;&gt; getItemModels()
    {
        return contacts.iterator();
    }

    @Override
    protected void populateItem(final Item&lt;Contact&gt; item)
    {
        Contact contact = item.getModelObject();
        item.add(new Label(&quot;itemid&quot;, item.getId()));
        item.add(new ActionPanel(&quot;actions&quot;, item.getModel()));
        item.add(new Label(&quot;contactid&quot;,
                    String.valueOf(contact.getId())));
        item.add(new Label(&quot;firstname&quot;, contact.getFirstName()));
        item.add(new Label(&quot;lastname&quot;, contact.getLastName()));
        item.add(new Label(&quot;homephone&quot;, contact.getHomePhone()));
        item.add(new Label(&quot;cellphone&quot;, contact.getCellPhone()));

        item.add(AttributeModifier.replace(&quot;class&quot;,
                    new AbstractReadOnlyModel&lt;String&gt;()
        {
            private static final long serialVersionUID = 1L;

            @Override
            public String getObject()
            {
                return (item.getIndex() % 2 == 1)
                    ? &quot;even&quot; : &quot;odd&quot;;
            }
        }));
    }
}; </pre>
                    <p>With this markup:</p>
                    <pre class="prettyprint linenums" lang="html">
&lt;table cellspacing=&quot;0&quot; class=&quot;dataview&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;Item Id&lt;/th&gt;
        &lt;th&gt;Actions&lt;/th&gt;
        &lt;th&gt;ID&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Home Phone&lt;/th&gt;
        &lt;th&gt;Cell Phone&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr wicket:id=&quot;view&quot;&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;itemid&quot;&gt;[item id]&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;actions&quot;&gt;[actions]&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;contactid&quot;&gt;[contactid]&lt;/span&gt; &lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;firstname&quot;&gt;[firstname]&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;lastname&quot;&gt;[lastname]&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;homephone&quot;&gt;[homephone]&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;cellphone&quot;&gt;[cellphone]&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;                    </pre>
                    <p>A repeater view that renders all of its children, using its body markup, in the order they were added.
                        The repeater itself produces no markup, instead every direct child inherits the entire markup of the repeater. In the example above repeaters's markup is:
                       <code>&lt;tr wicket:id=&quot;view&quot;&gt;</code> and so this is the markup that is available to
                        the direct children. Each label renders it produces a line of the output that has the <code>tr</code> tag.</p>
                </div>
                <div class="span6">
                    <h2>ListView</h2>
                    <p>A ListView is a repeater that makes it easy to display/work with Lists. You should
                        notice that in a list the item's uniqueness/primary key/id is identified as its index in the list.
                        If this is not the case you should either override <code>getListItemModel(IModel, int)</code> to return a model
                        that will work with the item's true primary key, or use a different repeater that does not rely on the list index.
                        A ListView holds ListItem children. Items can be re-ordered and deleted, either one at a time or many at a time.</p>
                    <pre class="prettyprint linenums" lang="java">
/*create list with sample data*/
List list = Arrays.asList(new String[] { &quot;a&quot;, &quot;b&quot;, &quot;c&quot; });
ListView listview = new ListView(&quot;listview&quot;, list) {
    protected void populateItem(ListItem item) {
        item.add(new Label(&quot;label&quot;, item.getModel()));
    }
};
add(listview);
                    </pre>

                    <pre class="prettyprint linenums" lang="html">
&lt;span wicket:id=&quot;listview&quot;&gt;
   this label is: &lt;span wicket:id=&quot;label&quot;&gt;label&lt;/span&gt;&lt;br/&gt;
&lt;/span&gt; </pre>
              <p>Produce following markup:</p>
                   <pre class="prettyprint linenums" lang="html">
&lt;span wicket:id=&quot;listview&quot;&gt;
   this label is: &lt;span wicket:id=&quot;label&quot;&gt;a&lt;/span&gt;&lt;br/&gt;
&lt;/span&gt;&lt;span wicket:id=&quot;listview&quot;&gt;
   this label is: &lt;span wicket:id=&quot;label&quot;&gt;b&lt;/span&gt;&lt;br/&gt;
&lt;/span&gt;&lt;span wicket:id=&quot;listview&quot;&gt;
   this label is: &lt;span wicket:id=&quot;label&quot;&gt;c&lt;/span&gt;&lt;br/&gt;
&lt;/span&gt;
                   </pre>
<p>When you want to change the default generated markup it is important to realize that the ListView instance itself does
    not correspond to any markup, however, the generated ListItems do.
    This means that methods like <code>Component.setRenderBodyOnly(boolean)</code> and <code>Component.add(org.apache.wicket.behavior.Behavior...)</code>
    should be invoked on the ListItem that is given in <code>populateItem(ListItem)</code> method. </p>
                </div>
                <div class="span6">
                    <h2>DataView</h2>
                    <p>DataView is a basic implementation of <code>AbstractPageableView</code>. Data views aim to make it very simple
                        to populate your repeating view from a database by utilizing <code>IDataProvider </code>to act as an interface between the database and the dataview. </p>
                    <pre class="prettyprint linenums" lang="java">
ArrayList list = getDataFromDatasource();
final DataView dataView = new DataView(&quot;simple&quot;, new ListDataProvider(
        list)) {
    public void populateItem(final Item item) {
        final Contact user = (Contact) item.getModelObject();
        item.add(new Label(&quot;id&quot;, user.getId()));
    }
};

 dataView.setItemsPerPage(10);

add(dataView);

add(new PagingNavigator(&quot;navigator&quot;, dataView)); </pre>

                    <pre class="prettyprint linenums" lang="html">
&lt;table cellspacing=&quot;0&quot; class=&quot;dataview&quot;&gt;
    &lt;tbody&gt;
    &lt;tr wicket:id=&quot;simple&quot;&gt;
        &lt;td&gt;&lt;span wicket:id=&quot;id&quot;&gt;Test ID&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;div wicket:id=&quot;navigator&quot;&gt;&lt;/div&gt; </pre>
                </div>
            </div>
		</section>
		<section id="forms">
			<div class="page-header">
				<h1>Forms <small>Form components, fields and other input devices</small></h1>
                <p>Form is component for grouping other components, the data gathered in this way should be processed only when all provided inputs are valid.
                    This mechanism give us very powerfull tool for acquiring, validating and processing data.</p>
			</div>

            <div class="row">
                  <div class="span6">
                      <h3>Simple form example</h3>
                      <p>This simple example is showing very basic version of form with two textfields where use can put his firstname and lastname.On the form we should also put a button which submit the form. Firstly we could design our form in html: </p>
                      <pre class="prettyprint linenums" lang="html">
&lt;form wicket:id=&quot;form&quot;&gt;
    &lt;input type=&quot;text&quot; value=&quot;&quot; wicket:id=&quot;firstname&quot; /&gt;
    &lt;input type=&quot;text&quot; value=&quot;&quot; wicket:id=&quot;lastname&quot; /&gt;
    &lt;input type=&quot;submit&quot; wicket:id=&quot;submit&quot; /&gt;
&lt;/form&gt;</pre>
                    <p>The html file looks almost as raw html from designers, we only need to insert <code>wicket:id</code> into the appropriate components.</p>
                    <p>Next we need to write a code on the java side, which bind wicket components with suitable html componets. The component hierarchy in java code should match the hierarchy in html file</p>
                  <pre class="prettyprint linenums" lang="java">
Form&lt;Void&gt; form = new Form(&quot;form&quot;);
TextField&lt;String&gt; firstname = new TextField&lt;String&gt;(&quot;firstname&quot;, Model.of(&quot;&quot;));
form.add(firstname);
TextField&lt;String&gt; lastname = new TextField&lt;String&gt;(&quot;lastname&quot;, Model.of(&quot;&quot;));
form.add(lastname);
//todo check correctness of button definition
Button button = new Button(&quot;submit&quot;);
form.add(button)
add(form);
                  </pre>
                  <p>It's very important to bind our components with model, if we forgot about that, this could cause a exception with message: <i>Attempt to set model object on null model of component</i>.</p>
                  </div>
                <div class="span6">
                    <h3>TextField</h3>
                    <p>TextFiled is simple single line input component. It's designed to acquire data from user, data types etc. could be specyfied by <code>org.apache.wicket.util.convert.IConverter</code></p>.

                </div>

                <div class="span6">
                    <h3>AAAAAA</h3>
                </div>

            </div>
		</section>
		<section id="feedback">
			<div class="page-header">
				<h1>Feedback</h1>
			</div>
		</section>
		<section id="i18n">
			<div class="page-header">
				<h1>Internationalization</h1>
			</div>
		</section>
		<section id="layout">
			<div class="page-header">
				<h1>Layout &amp; grouping <small>Panels, borders, fragments, tabs and markup inheritance</small></h1>
			</div>
		</section>
	</div>
</body>
</html>
